extends layout
block content
    script(src='/javascripts/chart.js') 
    
    div(id="chart")    
    h1= title 
    alert(title) 
    //- div(id="locations")
    //- p
    //-     span.name= "Location"
    //-     span= "City"
    //- each loc in data
    //-     p
    //-     span.name 
    //-         a(href="#")= loc.name 
    //-     span.city
    //-         a(href="#")= loc.city

    //- div(id="readings")
    //- table(class="table")
    //-     thead(class="table-dark")
    //-         tr 
    //-             th= "Location" 
    //-             th= "City" 
    //-     tbody
    //-         each loc in data
                
    //-             tr 
    //-                 td
    //-                     span.name 
    //-                         a(href="#")= loc.name 
    //-                 td loc.city   
    
